.App {
  text-align: center;
  min-height: 100vh;
  padding: 50px 20px;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #ffffff;
  margin-bottom: 40px;
}
